.section {
  margin: 1rem 0;
}
/* nav Components */ 
.box {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  height: 4em;
}

.nav .logoBox {
  column-gap: 2rem;
  width: 12rem;
}

.logoBox .menu {
  width: 1.5rem;
  font-size: 1.5rem;
}

.logoBox svg {
  width: 7rem;
}


/* searchBar Components */

.searchBox {
  width: 35em;
}

.form {
  display: flex;
  border-radius: 20px;
}

.form .searchInput {
  width: 25rem;
  border: 1px solid var(--input-bd);
  padding: 0.8rem 1rem 0.8rem 2rem;
  border-radius: 18px 0 0 18px;
  transition: 0.6s ease-in-out;
}

.inputBox {
  position: relative;
}

.form .inputBox .icon {
  display: none;
}


.form .searchInput:focus {
  width: 30rem;
  padding-left: 3rem;
  transition: 0.6s ease-in-out;
  background-color: var(--fcs-bg);
}

.form .searchInput:focus + .icon {
  display: block;
  position: absolute; 
  top: 0.8rem;
  left: 1rem;
  color: var(--input-icon);
}

.form .searchBtn {
  position: relative;
  border-radius: 0 18px 18px 0;
  width: 4rem;
  background-color: var(--btn-bg);
  border: 1px solid var(--input-bd);
  border-left: none;
}

.form .searchBtn:hover {
  background-color: var(--btn-bg-hvr);
}

.form .searchBtn .searchIcon {
  font-size: 1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
}


/* Nav UserContainer 부분 */
.userBox {
  column-gap: 1rem;
}
.userBox .mode {
  font-size: 1.8rem;
  vertical-align: middle;
}

.userBox .login {
  width: 6.5rem;
  padding: 0.5rem 0.2rem;
  border: 1px solid var(--input-bd);
  border-radius: 20px;
  font-size: 1rem;
  color: rgb(12, 102, 198);
}

.userBox .login:hover {
  background-color:rgb(228, 239, 252);
}

.userBox .login span {
  vertical-align: middle;
  letter-spacing: -0.5px;
}

.userBox .userIcon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}


/* VideoArea */

.videoContainer {
  flex-direction: column;
  row-gap: 1rem;
  width: 80%;
  margin: 2rem auto;
}

.videoCardBtn {
  text-align: start;
}


/* VideoCard */

.cardBox {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  width: 100%;
}

.cardBox  .channelBox {
  display: flex;
  align-items: center;
}

.cardBox .channelBox .cnThumb {
  border-radius: 100%;
}

.cardBox .thumbBox {
  width: 360px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.thumbBox .thumb {
  width: 360px;
  height: 200px;
  border-radius: 20px;
  transition: 0.8s ease-in-out;
}

/* .thumbBox .thumb:hover {
  transform: scale(1.3);
  transition: 1s ease-in-out;
} */

.cardInfoBox {
  margin-top: 0.8rem;
  width: 45rem;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.cardBox .tit {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}

.channelBox .cnThumb {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

.channelBox .cnTit {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: rgb(92, 86, 86);
}

.cardBox .des {
  font-size: 0.75rem;
  font-weight: 500;
  color: rgb(92, 86, 86);
  letter-spacing: -0.3px;
}

/* aside Component */
.aside {
  width: 4.8rem;
  margin-left: 0.5rem;
}

.aside li {
  width: 4.5rem;
  text-align: center;
}

.aside svg {
  width: 1.7rem;
  margin: 0 auto;
}

.aside button {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  width: 4rem;
}

.aside button:hover {
  background-color: var(--btn-bg);
  border-radius: 20px;
}

.aside button p {
  margin-top: 0.5rem;
  font-size: 0.5rem;
}



/* VideoDetail Components */

.videoDetailContainer {
  width: 70%;
  margin: 0 auto;
}

.detailInfoBox {
  flex-direction: column;
  row-gap: 0.5rem;
}

.detailInfoBox .tit {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.detailInfoBox .cnBox {
  align-items: center;
  column-gap: 0.5rem;
}

.cnBox .cnThumb {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.cnBox .cnTit {
  font-weight: 600;
  letter-spacing: -0.5px;
  font-size: 1.1rem;
}

.detailInfoBox .detailInfo {
  background-color: var(--btn-bg);
  border-radius: 20px;
  padding: 1rem;
}

.detailInfoBox .detailInfo:hover {
  background-color: var(--btn-bg-hvr);
}

.detailInfo .des {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.2px;
}

.relatedAside {
  width: 20%;
}