
:root { 
  --mode-btn: #82AFE2;
  --bg: #FFFFFF;
  --input-bd: #D8D4D4;
  --fcs-bg: #F5F9FD;
  --input-icon: #D8D4D4;
  --btn-bg: #EEEEEE;
  --btn-bg-hvr: #E1DFDF;
  --txt: #0f0f0f;
  --sub-txt: #606060;
  --login-txt: #0C66C6;
  --login-bg: #E4EFFC;
  --info-bg: #EEEEEE;
  --card-bg: #1212130E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg);
}

.dark {
  --mode-btn: #A49A65;
  --bg: #1b1a1a;
  --input-bd: #303030;
  --fcs-bg: #1F2020;
  --input-icon: #D8D4D4;
  --btn-bg: #000000;
  --btn-bg-hvr: #2b2a2a;
  --txt: #F1F1F1;
  --sub-txt: #AAAAAA;
  --login-txt: #0C66C6;
  --login-bg: #3EA5FF3B;
  --info-bg: #FFFFFF1A;
  --card-bg: #8E898919;
}

input {
  border: none;
  background-color: inherit;
  outline: none;
}

button {
  outline: none;
  border: none;
  background-color: initial;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  pointer-events: none;
}


h1, h2, h3, h4, h5, p, svg, pre, span {
  background-color: initial;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
