
:root { 
  --input-bd: #D8D4D4;
  --fcs-bg: #F5F9FD;
  --input-icon: #D8D4D4;
  --btn-bg: #EEEEEE;
  --btn-bg-hvr: #E1DFDF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #000000; */
}

input {
  border: none;
  background-color: initial;
  outline: none;
}

button {
  outline: none;
  border: none;
  background-color: initial;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
